* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.pai {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 15px;
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #000000;
  }

  .cabecalho {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  input {
    width: 320px;
    padding: 14px;
    border-radius: 5px;
    font-size: 16px;
    border-color: #d1d1d1;
    margin: 15px;
  }

  .lembre {
    display: flex;
    flex-direction: row;
  }

  .esqueceu {
    color: #667eea;
  }

  .entrar {
    width: 320px;
    padding: 14px;
    border-radius: 5px;
    font-size: 16px;
    border-color: #d1d1d1;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    
  }